#portfolioImg{
  position: absolute;
  /* opacity: 0.32; */
  z-index: -1;
}

#carouselText {
  font-weight: bold;
  font-size: 1rem;
}

#makeOpaque {
  opacity: 0.9;
}

#pCardImage{
  height: 90%;
}
/* 
#item1 {
  background-image: url("./Harmonize.jpg")
}
#item2 {
  background-image: url("./LAF.jpg")
}
#item3 {
  background-image: url("./ReactScraper.jpg")
}
#item4 {
  background-image: url("./CrystalCollector.jpg")
}
#item5 {
  background-image: url("./TrainSimulator.jpg")
}
#item6 {
  background-image: url("./TriviaGame.jpg")
}
#item7 {
  background-image: url("./AnimeGifFinder.jpg")
} */