/* SCROLLBAR STYLE */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 4 4 4px rgba(1,1,1,1);  */
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 10px rgb(0, 0, 0); 
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}

#stickerBar {
  position: fixed;
  opacity: 0.8;
  right: 1vw;
  bottom: 0vh;
  font-size: 15pt;
  touch-action: none;
}


.container {
  height: 100vh;
}

#navbar {
  height: 15vh;
}

section {
  min-height: 100vh;
  /* background-color: lightblue; */
  padding-top: 15vh;
}


/* SMALL SCREEN STYLING */
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 600px)  {
  #about {
    height: 250vh;
  }
  #portfolio {
    height: 100vh;
  }
}

/* #pageTitle {
  margin-top: 8vh;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', cursive;
}


@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 1024px)  {
  #pageContainer {
    height: auto;
  }
}

